<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<div class="avatar">
			<img alt="" src="assets/img/profile/nespresso.jpg">
			<h5> Nespresso {{core.currentUser.name}} </h5>
		</div>
		<li ui-sref-active="active">
			<a ui-sref="main"><i class="material-icons sidebar-icon">broken_image</i><span class="nav-item">Dashboard</span></a>
		</li>
		<li>
			<a href="#"><i class="material-icons sidebar-icon">image</i>Photos</a>
			<ul class="subnav">
				<li ui-sref=""> Overview </li>
				<li> Add Photo</li>
			</ul>
		</li>
		<li>
			<a href="advertisements.html"><i class="material-icons sidebar-icon">insert_chart</i><span class="nav-item">Advertisements</span></a>
			<ul class="subnav">
				<li ui-sref-active="active"><a ui-sref="main.offer.overview" href="advertisements.html"> Overview </a></li>
				<li ui-sref-active="active"><a ui-sref="main.offer.add" href="advertisements.html"> Add Offer </a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="material-icons sidebar-icon">account_box</i><span class="nav-item">Account</span></a>
			<ul class="subnav">
				<li> Settings</li>
				<li ng-click="core.signOut()"> Log out</li>
			</ul>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->