<!-- Sidebar -->
<div id="sidebar-wrapper" ng-controller="SidebarController as vm">
	<ul class="sidebar-nav">
		<div class="avatar">
			<img alt="profile image" src="assets/img/profile/nespresso.jpg">
			<h5> Nespresso {{core.currentUser.name}} </h5>
		</div>
		<li ui-sref-active="active">
			<a ui-sref="main.dashboard"><i class="material-icons sidebar-icon">broken_image</i><span class="nav-item">Dashboard</span></a>
		</li>
		<li>
			<a ui-sref="main.photo.overview"><i class="material-icons sidebar-icon">image</i><span class="nav-item">Photos</span></a>
			<ul class="subnav">
				<li ui-sref-active="active"><a ui-sref="main.photo.overview"> Overview </a></li
				<li ui-sref-active="active"><a ui-sref="main.photo.add"> Add Photo </a></li>
			</ul>
		</li>
		<li>
			<a ui-sref="main.offer.overview"><i class="material-icons sidebar-icon">insert_chart</i><span class="nav-item">Offers</span></a>
			<ul class="subnav">
				<li ui-sref-active="active"><a ui-sref="main.offer.overview"> Overview </a></li>
				<li ui-sref-active="active"><a ui-sref="main.offer.add"> Add Offer </a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="material-icons sidebar-icon">account_box</i><span class="nav-item">Account</span></a>
			<ul class="subnav">
				<li class="href"><a ui-sref="main.settings"> Settings </a></li>
				<li class="href" ng-click="vm.signOut()"> Log out</li>
			</ul>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->