<!-- Sidebar -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<div class="avatar">
			<img alt="" src="assets/img/profile/nespresso.jpg">
			<h5> Nespresso {{core.currentUser.name}} </h5>
		</div>
		<li>
			<a href="index.html"><i class="material-icons sidebar-icon">broken_image</i><span class="nav-item">Dashboard</span></a>
		</li>
		<li>
			<a href="#"><i class="material-icons sidebar-icon">image</i>Photos</a>
			<ul class="subnav">
				<li> Overview </li>
				<li> Add Photo</li>
			</ul>
		</li>
		<li>
			<a href="advertisements.html"><i class="material-icons sidebar-icon">insert_chart</i><span class="nav-item">Advertisements</span></a>
			<ul class="subnav">
				<a href="advertisements.html"> </a><li> Overview </li> </a>
				<li> Add Advertisement</li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="material-icons sidebar-icon">account_box</i><span class="nav-item">Account</span></a>
			<ul class="subnav">
				<li> Settings</li>
				<li> Log out</li>
				<li ui-sref-active="active"><a ui-sref="auth.signin">Link in level 2</a></li>
				<li ui-sref-active="active"><a ui-sref="auth.signup">Link in level 2</a></li>
			</ul>
		</li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->