body {
  overflow-x: hidden; }

.href {
  cursor: pointer; }

/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color: #000;
  background: rgba(255, 255, 255, 0.8); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

/**
 * Profile image component
 */
.avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #000; }

.avatar h5 {
  text-align: center;
  color: #F7F7F7; }

.subnav {
  text-decoration: none;
  list-style: none;
  margin-left: 15px;
  color: #f7f7f7; }

.sidebar-nav i {
  display: inline; }

.advertontop {
  position: relative; }

.advertimage {
  height: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px; }

.advertadd {
  position: absolute;
  z-index: 1000;
  float: left;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: block; }

/*Description*/
.descriptiontitle {
  margin-top: 6px;
  margin-bottom: 23px; }

textarea[name=description] {
  resize: none; }

/*Searchbar*/
.search-box {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  margin-top: 25px; }

.search-box.hovered, .search-box:hover, .search-box:active {
  border: 1px solid #aaa; }

.search-box input[type=text] {
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent; }

.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {
  box-shadow: none; }

.search-box .search-btn {
  position: absolute;
  right: 2px;
  top: 2px;
  color: #aaa;
  border-radius: 3px;
  font-size: 21px;
  padding: 5px 10px 1px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

.search-box .search-btn:hover {
  color: #fff;
  background: -webkit-linear-gradient(#FF9068, #FD746C); }

.relative {
  position: relative;
  width: 60%;
  margin-bottom: 2%; }

.relative i {
  position: absolute;
  top: 5px;
  right: 5%; }

h3 {
  margin-top: 4px;
  margin-bottom: 19px; }

/*Google API*/
#map-canvas {
  height: 400px;
  margin: 0px;
  padding: 0px; }

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; }

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  /* Regular padding-left + 1. */
  width: 401px; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

#trigger-search {
  border: 1px solid black;
  margin: 10px;
  background: yellow; }

/*!
 /photo overviewpage
 */
.head-menu {
  background-color: #333333;
  padding-top: 1%; }

.logo {
  padding-bottom: 1%; }

.registerfields input {
  margin-bottom: 10px; }

.paddingleft {
  padding-left: 0; }

.paddingright {
  padding-right: 0; }

.companytxt {
  margin-top: 100px; }

.companytxt2 {
  margin-top: 30px; }

.slogan {
  color: #FF9068;
  font-size: 40px; }

.inline {
  display: inline-block; }

.txtcolor {
  color: #FF9068; }

.registerbtn {
  margin-top: 5%;
  float: right; }

.regbutton {
  background: #FF9068;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF9068, #FD746C);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF9068, #FD746C);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF9068, #FD746C);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF9068, #FD746C);
  /* Standard syntax */
  color: white; }

.image {
  height: auto;
  width: 100%; }

.line {
  margin-bottom: 50px; }

.location-photo {
  text-align: center; }

h4 {
  font-family: 'Roboto', sans-serif; }

.fa-chevron-circle-right {
  color: #FF9068; }

.fa-chevron-circle-left {
  color: #FF9068; }

.pagination li a {
  border: none; }

.pagination li a {
  color: #333333; }

.pagination .active a {
  background-color: white;
  color: #FF9068; }

.pagination .active a:hover {
  background-color: white;
  color: #FF9068; }

.pagination li a:focus {
  color: #FF9068;
  background-color: #FF9068; }

.pagination li a:hover {
  color: #333333;
  background-color: white; }

.advertclose {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  margin: 5px 3px 0 0; }

.fa-times {
  color: #F94610;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }

.fa-times:hover {
  color: #A00B0B; }

.icons {
  color: #FF9068; }

.nomargin {
  padding-left: 0px; }

.margintop {
  margin-top: 0px; }

/*Google api end*/
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }

  #wrapper.toggled {
    padding-left: 0; }

  #sidebar-wrapper {
    width: 250px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 0; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/*# sourceMappingURL=app.css.map */
