html, body {
	height: 100%;
	margin: 0;
	background-image: url(/src/assets/img/background.png);
	background-size: cover;
}

.head-menu {
	background-color: #333333;
	padding-top: 1%;
}

.logo {
	padding-bottom: 1%;
}

.registerfields input {
	margin-bottom: 10px;
}

.paddingleft {
	padding-left: 0;
}

.paddingright {
	padding-right: 0;
}

.companytxt {
	margin-top: 100px;
}

.slogan {
	color: #FF9068;
	/*font-family:;*/
	font-size: 40px;
}

.inline {
	display: inline-block;
}

.txtcolor {
	color: #FF9068;
}

.registerbtn {
	margin-top: 5%;
	float: right;
}

.regbutton {
	background: #FF9068; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#FF9068, #FD746C); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FF9068, #FD746C); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FF9068, #FD746C); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FF9068, #FD746C); /* Standard syntax */
	color: white;
}


